<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>2_message_implement.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>60BFF36F1D6713B200382DE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60BFF3831D6713B300382DE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60BFF38E1D6713B300382DE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
